/* Styling for Max Mines website */

html {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	min-height: 100vh;
	background-color: black;
}

/* Grid container that holds everything on the page  */
.container {
	display: grid;
	grid-template-columns: .2vw .2fr 1fr 1fr 1fr .2fr .2vw;
	grid-template-rows: .6fr 1fr .4fr .4fr;
	grid-column-gap: 10px;
	width: 100vw;
	height: 100vh;
	background-repeat: no-repeat;
	background: url(../img/aw_bg2.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 100%;

	-webkit-transition: background .2s linear;
	-moz-transition: background .2s linear;
	-o-transition: background .2s linear;
	-ms-transition: background .2s linear;
	transition: background .2s linear;
  }

/* Bottom nav bar with resume projects and music */
.navbar {
	grid-column: 1/7;
	grid-row: 3;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	color: whitesmoke;
	font-size: 20px;
	font-family: 'Amiri', serif;
}

/* individual bottom nav bar divs for navigating to other pages */
.nav_r {
	display: flex;
	grid-column: 4;
	grid-row: 1;
	margin-block-start: 70px;

	justify-content: center;
	align-items: flex-start;
}

/* individual bottom nav bar divs for navigating to other pages */
.nav_l {
	display: flex;
	grid-column: 2;
	grid-row: 1;
	margin-block-start: 70px;
	justify-content: center;
	align-items: flex-start;
}

/* individual bottom nav bar divs for navigating to other pages */
.nav_c {
	display: flex;
	grid-column: 3;
	grid-row: 1;
	margin-block-start: 70px;

	justify-content: center;
	align-items: flex-start;
	text-align: right;
}

/* first item on the 3 grid pages such as Max Mines on home page */
.item-a {
	display: flex;
	margin-block-start: 30px;
	justify-content: flex-end;
	overflow-wrap: break-word;
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 2;

}

/* styling for max mines on home page */
.maxmines {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 7vw;
	color: white;
	opacity: 90%;
	line-height: 80%;
	min-width: 4vw;
}

/* second item on the 3 grid pages such as Max Mines on home page */
.item-b {
	display: block;
	grid-column-start: 4;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 2;


	-webkit-transition: opacity .1s linear;
	-moz-transition: opacity .1s linear;
	-o-transition: opacity .1s linear;
	-ms-transition: opacity .1s linear;
	transition: opacity .1s linear;
}

/* styling for cartoon portrait on home page */
.logodiv {
	min-width: 180px;
	margin-left: auto;
	margin-right: auto;
	opacity: 80%;
	align-items: center;
	text-align: center;
}

.head-image {
	width: 70%;
	height: auto;
	max-width: 20em;
	filter: brightness(10000%);
}

/* third item on the 3 grid pages such as Max Mines on home page */
.item-c {
	display: flex;

	grid-column-start: 5;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 2;


	opacity: 100%;
	-webkit-transition: opacity .1s linear;
	-moz-transition: opacity .1s linear;
	-o-transition: opacity .1s linear;
	-ms-transition: opacity .1s linear;
	transition: opacity .1s linear;
}

/* styling for regular writing and paragraph text */
.classic-text {
	line-height: 14px;
	font-family: 'Amiri', serif;
	font-size: 14px;
	color: white;
	padding-inline-end: 10%;
	max-width: 500px;
	max-height: 28vh;
	margin-block-start: 30px;
}

p {
	margin-block-start: 0em !important;
}

a {
	color: white;
	font-style: bold;
}

.navbar a {
	text-decoration: none;
	text-align: center;
}
.navbar a:hover {
	color: wheat;
}


/* styling for the max mines at top left */
.topbar {
	display: block;
	justify-content: flex-start;
	padding-block-start: 60px;
	overflow-wrap: break-word;
	grid-column: 3/3;
	grid-row:1;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.7vw;
	color: white;
	opacity: 60%;
	line-height: 80%;
	min-width: 3vw;
}

.topbar a {
	text-decoration: none;
}

/* styling for linkedin and github icons */
.icons {
	display: block;
	padding-block-start: 60px;
	grid-row:1;
	font-size: 1.5vw;
	color: white;
	opacity: 100%;
	justify-content: flex-end; 
	grid-column: 5/5; 
	text-align: end; 
	padding-inline-end: 5%;
}

.icons a {
	color: white;
	opacity: 60%;
}

.icons-home {
	grid-row:4;
	grid-column: 4;
	justify-content: flex-start; 
	text-align: center; 
	opacity: 100%;
}

.icons-home a {
	color: #040505;
}

.credits-home {
	grid-row:4;
	grid-column: 5;
	justify-content: flex-start; 
	text-align: right; 
	opacity: 80%;
	font-size: .7vw;
	color: #040505;
	font-family: 'Amiri', serif;
	padding-block-start: 75px;
}

.credits-home a {
	color: #040505;
	text-decoration: none;
}

#preload {
	background: url(../img/lp2.jpg), url(../img/lp3.jpg), url(../img/maxdark.jpg);
	opacity: 1%;
}


/* Fade and other animation stuff */
.fade-in {
	animation: fadeIn ease 2s;
	-webkit-animation: fadeIn ease 2s;
	-moz-animation: fadeIn ease 2s;
	-o-animation: fadeIn ease 2s;
	-ms-animation: fadeIn ease 2s;
}
  
  
  @keyframes fadeIn{
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
  }
  
  @-moz-keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
  }
  
  @-webkit-keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
  }
  
  @-o-keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
  }
  
  @-ms-keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
  }

