/* Styling for the page that displays the grid of all my projects */

.projbg {
	background: url(./img/aw_bg4.jpg) no-repeat center center fixed; 
	background-size: cover;
}

/* div for each project on the project page */
.project {
	display: flex;
	grid-row-start: 2;
	grid-row-end: 2;
	position: relative;
	text-align: center;

	-webkit-transition: .2s linear;
	-moz-transition: .2s linear;
	-o-transition: .2s linear;
	-ms-transition: .2s linear;
	transition: .2s linear;
}

/* div for each project image on the project page */
.project-img {
	height: 75%;
	width: 75%;
	object-fit: contain;
	filter: grayscale(20%);
	border-radius: 20px;
	-webkit-filter: drop-shadow(3px 1px 20px black);
	filter: drop-shadow(3px 1px 20px black);
}

.project-img:hover {
	transform: scale(1.04,1.04);
	-webkit-transition: .1s linear;
	-moz-transition: .1s linear;
	-o-transition: .1s linear;
	-ms-transition: .1s linear;
	transition: .1s linear;
}

/* grid for displaying projects */
.project-display {
	grid-column: 3/6;
	grid-row: 2;
	display: grid;
	margin-left: 6vw;
	margin-right: 6vw;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	color: whitesmoke;
	align-items: center;
	justify-content: center; 
}

.project-desc {
	position: absolute;
	max-width: 70%;
	font-family: 'Courier New', Courier, monospace;
	font-size: .8vw;
	margin-top: 40%;
	color: rgb(255, 255, 255);
	opacity: 70%;
	/* font-weight: bold; */
}